body{
    background-image: url(./Gta\ Online\ Los\ Santos\ Wallpaper\ For\ Tech.jpg) ;

}
.c1,.c2,.c3,.c4,.f1
{
    display: flex;
    padding: 10px;
}
.w1{
    align-items: center;
} 
#f1{
    align-items: center;
    position: relative;
    left: 110px;
    padding: 10px;
}
#b1{
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    
}
h2{
    color: lightskyblue;
}
#b2{
    margin-left:20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
#email,#Tech,#name,#Leadstatus,#cc,#phone,#course,#LS{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 20px;
}
form {
        background-color:transparent;
        padding: 20px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(6px);
         box-shadow: 0 0 10px rgba(255, 255, 255, .2);   
         border-radius: 10px;
        width: 400px;
        margin-left: 200px;
        position: relative;
        top: 250px;
        left: 300px;
    }